
body {
    background-image: url(bromo.jpg);
    background-size: cover;
}

header{
    background-color: #9ca4bd ;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    margin-inline-start: 10px;
    }


h2 {
    color: red;
    text-align: center;
    border: 5px solid #9ca4bd;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
   }

p {
    font-size: 12px;
    color: white;
    background-color: rgba(73, 109, 137,0.8);
    font-family: 'Montserrat', sans-serif;
}

.text{
    text-align: justify;
}

#text1{
    background-color: rgba(73, 109, 137,0.8);
}
#text2{
    background-color: rgba(0, 102, 102,0.8);
}

img {
    image-orientation: 'center';
    float: left;
}
footer{
    clear: 'both';
    text-align: center;
    font-style:normal;
}

.boxmodel {
    border: 5px red solid;
    display: inline-block;
    padding: 0px 20px 0px 20px ;
    margin: 0px 20px ;
    width: 25px;
    height: 25px;
}
/*specifity*/
p{
    border: 5px solid pink;
}