.app {
  width: 50%;
  margin: 0 auto;
  padding-top: 0.5rem;
  height: 100vh;
}

.logo {
  text-align: center;
  font-family: "Roboto";
}

.logo img {
  width: 150px;
  margin: 0;
}

.logo h3 {
  color: #218dfd;
  margin: 0;
  font-family: "Roboto";
}

.forminput {
  font-family: "Roboto";
}
